<section style = "margin: 20px; width: 24rem" class='card'>
    <a href='/recipe/{{id}}'>
        <div class='card-body'>
            <h3>{{name}}</h3>
            <p>{{user.name}}</p>
       </div>
    </a>
</section>