<section style = "margin: 20px; width: 24rem" class='card'>
    <a href='/recipe/{{id}}'>
        <div class='card-body'>
            {{!-- {{#if id = recipe.user_id}} --}}
            <h3>{{name}}</h3>
            {{!-- {{/if}} --}}
            <p>{{user.name}}</p>
       </div>
    </a>
</section>