<section class='card'>
    <a href='/recipe/{{id}}'>
        <div class='card-body'>
            {{!-- {{#if id = recipe.user_id}} --}}
            <p>{{name}}</p>
            {{!-- {{/if}} --}}
            <p>{{user.username}}</p>
       </div>
    </a>
</section>