<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook</title>
    <link rel = 'stylesheet' type = 'text/css' href = './css/style.css'>
</head>
<body>
    <header>
        <h1>Welcome to our site</h1>
    </header>
    <nav>
        <a class='navBtn'href = '/'>Dashboard</a>
        <a class='navBtn' href = '/userpage'>Profile</a>
        <a class='navBtn' href = '/create'>Post</a>
        {{#if loggedIn}}
        <button class='navBtn' id = 'logout' class = 'btn-no-style'>Logout</button>
        {{else}}
        <a class='navBtn' href = '/login'>Login</a>
        {{/if}}
    </nav>
    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src = '/js/logout.js'></script>
    {{/if}}
</body>
</html>