{{!-- <section class = 'post'>
    <h3>{{Recipe.name}}</h3>
    <p>Created by: {{***}}</p>
    <p>{{Recipe.ingredients}}</p>
    <p>{{Recipe.instructions}}</p>
</section>

//These are all fillers. Fix once we have js --}}