<div style="margin: 20px" class="col-md-6">
    <h3>Add a New Recipe:</h3>

    <form class="form new-recipe-form">

      <div class="form-group">
        <label for="recipe-name">Recipe Name:</label><br/>
        <input class="form-input" type="text" id="recipe-name"/>
      </div>
    <br/>
      <div class="form-group">
        <label for="project-funding">Ingredients (please separate each ingredient by a comma)</label><br/>
        <textarea class="form-input" id="ingredient-list"></textarea>
      </div>
<br/>
      <div class="form-group">
        <label for="project-desc">Cooking Instructions:</label><br/>
        <textarea class="form-input" id="instructions"></textarea>
      </div>
<br/>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
  </div>

<script src="/js/recipe.js"></script>