<header>
</header>
<main>
    {{#if loggedIn}}
    <div class='row'>
        <div class='col-sm-6'>
            <section style="text-align: center" class='flex-row justify-center'>
                <h3 style="text-align: center; margin: 20px">Recipes</h3>
                <div style="">
                {{#each recipes as |recipe|}}
                {{> recipe-details}}
                {{/each}}
                </div>
            </section>
        </div>
        <div class='col-sm-6'>
            <h3 style="text-align: center; margin: 20px">Featured Recipe</h3>
            <div>
                <p>{{randomRecipe.name}}</p>
                <p>{{randomRecipe.ingredients}}</p>
                <p>{{randomRecipe.instructions}}</p>
            </div>
        </div>
    </div>
</main>
{{else}}
<a href='/login'>Please login to view this page.</a>
{{/if}}