<header>
</header>
<main>
    <h3 style="text-align: center; margin: 20px">Explore</h3>
    {{#if loggedIn}}
    <section style= "text-align: center"class = 'flex-row justify-center'>
        {{#each recipes as |recipe|}}
        {{> recipe-details}}
        {{/each}}
    </section>
</main>
{{else}}
<a href='/login'>Please login to view this page.</a>
{{/if}}