<div class="col-12">
    {{!-- {{#ifCond following user_id}} --}}
    {{#each filteredRecipes as |recipe|}}
    <div class="card mb-4">
        <div class="card-body">
            <a href="/recipe/{{recipe.id}}">
                <h5 style="margin: 10px" class="card-title">{{recipe.name}} by {{user.username}}</h5>
            </a>

        </div>
    </div>
    {{/each}}
    {{!-- {{/ifCond}} --}}
</div>