{{#if recipes.length}}
  <div class="col-md-6 project-list">
    <h3>Recipes:</h3>

    {{#each recipes as |recipe|}}
        <p>{{recipe.name}}</p>
        <p>{{recipe.ingredients}}</p>
        <p>{{recipe.instructions}}</p>
    {{/each}}

  </div>
{{/if}}

<button type="button">Follow me</button>