<header>
    <h1>Profile</h1>
</header>
<main>
    <header class='userContainer'>
        <h2>{{User.name}}</h2>
        <p>{{User.bio}}</p>
    </header>
    <section class='recipeContainer flew-row justify-center'>

    </section>
</main>