:root {
  --primary: #222224;
  --secondary: #d3d6da;
  --background-primary: #d3d6da;
  --background-secondary: #fe6262;
  --error: #e42e01;
  --grey: #5f6163;
}

* {
  /* color: var(--secondary); */
  /* text-shadow: 1px 1px var(--primary); */
}

header {
  color: var(--background-primary);
  background-color: var(--background-secondary);
  display: flex;
  justify-content: space-between;
}

header div {
  margin: 30px 26px 0 0;
}

header div a {
  color: var(--secondary);
  font-weight: bolder;
  font-size: 20px;
}

header h1 {
  font-style: Helvetica Neue;
}

body {
  font-family: Consolas;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-primary);
  /* color: var(--secondary); */
}

a {
  color: var(--grey);
  text-decoration: none;
}

nav {
  display: flex;
  background: var(--background-secondary);
  justify-content: center;
}

nav a {
  color: var(--secondary);
  background: var(--background-secondary);
  padding: 14px 20px;
  text-decoration: none;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: rgb(68, 190, 150);
}

.following-p {
  margin: 20px;
}

.page-name {
  margin-bottom: -15px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

#cookbook-logo {
  margin: 20px;
}

.sidebar {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
  float: left;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  margin-left: 10px;
  text-decoration: none;
}
/* Active/current link */
.sidebar a.active {
  background-color: red;
  color: white;
}
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* .column {
    float: right;
    width: 29%;
    text-align:right;
  } */
/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: right;
    clear: both;
  } */
.head {
  border-bottom: 20px solid #da4e4e;
}

.middleCol {
  text-align: center;
}
.rightCol {
  text-align: center;
}

.sidebar_back {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 200px;
  background: #444;
  position: absolute;
}

.question-title {
  margin: 10px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

#follow-button {
  margin: 30px 26px 0 0;
  width: 100px;
}

#comment-button {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #da4e4e;
  color: white;
  margin-top: 20px;
}

.card-body {
  background-color: white;
}

.box2 {
  background: linear-gradient(to right, #fe6262, #d3d6da);
  mask-image: linear-gradient(#da4e4e, transparent);
}
