:root {
    --primary: #242222;
    --secondary: #c0c0c0;
    --background-primary: #e64646;
    --background-secondary: #423d3d;
    --error: #e42e01;
}

* {
    color: var(--secondary);
    text-shadow: 1px 1px var(--primary)
}

header {
    color: var(--background-primary);
    background-color: var(--background-secondary);
    text-align: center;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-primary);
    color: var(--secondary);
}

a {
    color: var(--secondary);
    text-decoration: none;
}

nav {
    display: flex;
    background: var(--background-secondary);
    justify-content: center;
}

nav a {
    color: #f06262;
    background: var(--background-secondary);
    padding: 14px 20px;
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: var(--secondary);
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
}
